.menu-icons-wrap {
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu-icons-wrap .original label {
	display: inline-block;
	min-width: 7em;
}
.menu-icons-wrap .easy p {
	min-height: 2.2em;
	margin-bottom: 0;
}
.menu-icons-wrap .easy p > * {
	display: inline-block;
	vertical-align: middle;
}
.menu-icons-wrap .easy a {
	cursor: pointer;
	text-decoration: none;
}
.menu-icons-wrap .easy .submitdelete {
	float: none;
	display: none;
}
.menu-icons-wrap .easy img {
	max-width: 32px;
	height: auto !important;
	vertical-align: baseline;
}
.menu-icons-wrap ._icon {
	color: #666;
	font-size: 1.9em;
	width: auto;
	height: auto;
	vertical-align: bottom;
	margin: -.1em .2em 0 .2em;
}

.mi-items-wrap .mi-items {
	padding-top: 10px;
}
.media-frame-content .mi-items .attachment,
.media-frame-content[data-columns] .mi-items .attachment {
	width: 126px;
	height: 141px;
}
.media-frame .mi-items-wrap select.attachment-filters {
	max-width: 95%;
}

.mi-item .attachment-preview {
	width: 110px;
	height: 125px;
	text-align: center;
}
.mi-item ._icon {
	display: inline-block;
	margin-top: 8px;
	color: #666;
	height: 110px;
}
.mi-item ._icon i {
	font-size: 80px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.menu-icons-wrap a._select:focus ._icon,
.menu-icons-wrap a._select:hover ._icon,
.mi-item:hover ._icon,
.mi-item.selected ._icon {
	color: #101010;
}
.mi-item .filename div {
	line-height: 1.1;
	padding: 8px 10px;
}

.mi-preview.menu-item {
	font-size: 1.2em;
	min-height: 0;
}
.mi-preview.menu-item a {
	text-decoration: none;
}
.mi-preview.menu-item a > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	height: 100%;
}
.mi-preview.menu-item ._icon {
	margin-right: .25em;
}
.media-sidebar .mi-settings .setting input[type="number"],
.menu-icons-settings input[type="number"] {
	width: auto;
	max-width: 5em;
	float: none;
}
.media-sidebar .mi-settings .setting input,
.media-sidebar .mi-settings span.description {
	float: none;
}

/** Settings Meta Box **/
.menu-icons-settings ._field {
	padding: .5em 0;
}
.menu-icons-settings ._field ._main {
	display: block;
	font-weight: bold;
	margin-bottom: .25em;
}
#menu-settings-column .menu-icons-settings .inside {
	margin-top: 0;
}
.menu-icons-settings .taxonomydiv .tabs-panel {
	max-height: none;
	padding-top: .3em;
	padding-bottom: .4em;
	margin-bottom: .75em;
}
.js .menu-icons-settings .taxonomydiv .tabs-panel {
	margin-bottom: 0;
}
.menu-icons-settings h4 {
	margin: 0;
}
.menu-icons-settings ._menu span.description {
	margin-left: .5em;
}
.menu-icons-settings ._extensions ul {
	margin-top: .75em;
	padding-left: 1.5em;
	list-style: disc;
}
.menu-icons-settings ._extensions ul a {
	text-decoration: none;
}
.menu-icons-settings .spinner {
	float: none;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
.attachment .svg-icon img {
	max-width: 100%;
}
