.menu .dashicons,
.nav-menu .dashicons,
.menu .genericon,
.nav-menu .genericon {
	vertical-align: middle;
	margin-top: -.265em;
	width: auto;
	height: auto;
	font-size: 1.2em;
	margin-right: .25em;
	line-height: 1;
}
.menu .dashicons,
.nav-menu .dashicons {
}
.menu .genericon,
.nav-menu .genericon {
}
.menu-item img {
	vertical-align: middle;
	margin: -.265em .25em 0 0;
}

/**
 * Force the icons' styles
 *
 * Some themes -- notably 2014 -- has nasty rules that
 * could override the icons' styles so we need to force them here.
.dashicons-admin-site:before {
	content:"\f319" !important;
}
.dashicons-welcome-view-site:before {
	content:"\f115" !important;
}
 */
