[submodule "dev-lib"]
	path = dev-lib
	url = https://github.com/xwp/wp-dev-lib.git
[submodule "includes/library/icon-picker"]
	path = includes/library/icon-picker
	url = git@github.com:kucrut/wp-icon-picker.git
